@use '../abstracts' as *;

.footer {
  background-color: var(--color-dark-blue);

  &__container {
    --container-max-width: #{rem(1300)};
    padding-block: rem(64) rem(40);

    @include breakpoint(medium) {
      padding-block: rem(128) rem(80);
    }

    @include breakpoint(large) {
      padding-block: rem(104) rem(64);
    }
  }

  &__content {
    display: grid;
    row-gap: rem(48);
    margin-block-start: rem(32);

    @include breakpoint(medium) {
      row-gap: rem(64);
      margin-block-start: rem(48);
    }

    @include breakpoint(large) {
      grid-template-columns: repeat(4, max-content);
      justify-content: space-between;
      column-gap: rem(32);
    }
  }
}
